/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.5);
}

/* Fundo */
body {
  background: var(--bg-url) no-repeat top center/cover;
  font-family: "Inter", sans-serif;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center; /* AGORA CENTRALIZA NA TELA */
}

/* Container principal */
#container {
  width: 100%;
  max-width: 360px;
  text-align: center;
  padding: 0 24px;
}

/* Perfil */
#profile img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
}

#profile p {
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
}

/* LISTA */
ul {
  margin-top: 24px;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* BOTÕES */
ul li a {
  padding: 16px 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s, border 0.2s;
}

/* HOVER do botão */
ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1.5px solid white;
}

/* Social links */
#social-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 50%;
  transition: 0.2s;
}

#social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Rodapé */
footer {
  text-align: center;
  padding: 24px 0;
  color: var(--text-color);
  font-size: 16px;
}